h3 {
  margin-top: 0;
}

.date-selector {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  img { 
    display: block;
    flex: 0 0 300px;
    margin-right: 1em;
  }

  .image-placeholder {
    border: 1px solid black;
    width: 300px;
    height: 300px;
  }
}
